.bag {
    color: rgb(255, 255, 255); /* เปลี่ยนสีข้อความเป็นสีขาว */
    text-align: center; /* จัดให้ข้อความอยู่ตรงกลาง */
    font-family: 'Jaro', sans-serif; /* กำหนดฟอนต์ */
    font-size: 40px; /* กำหนดขนาดตัวอักษร */
    background-color: black; /* กำหนดสีพื้นหลังเป็นสีดำ */
    position: fixed; /* ตำแหน่งแน่นอน */
    top: 0;
    left: 0; /* ติดกับด้านซ้าย */
    width: 100%; /* กว้างเท่ากับ 100% ของหน้าจอ */
    height: 60px; /* กำหนดความสูงของแถบ */
    margin-top: 0; /* ลบระยะห่างด้านบน */
    z-index: 1000; /* ให้มีความสูงของ z-index เป็น 1000 เพื่อให้แสดงเหนือส่วนอื่น */
}