body{
    font-family: "K2D", sans-serif;
    font-weight: 20;
    font-style: normal;
 
    padding-bottom: 50px; /* เพิ่มระยะห่างระหว่างข้อความและเส้นแบ่งแนวนอน */
   
    width: 100%; 
}

.navbar {
    background-color: #000;
    height: 60px;
    display: flex; /* ใช้ Flexbox */
    justify-content: flex-end; /* จัดให้เนื้อหาอยู่ด้านขวา */
    align-items: center; /* จัดให้ปุ่มอยู่ตรงกลางแนวตั้ง */
    min-height: 80px;
    position: fixed;
    top: 0; /* ให้ติดกับด้านบน */
    left: 0;
    right: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border-radius: 15px; 
    top: 110%;
    right: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.nav-btn:hover .dropdown-menu {
    display: block;
}
.navbar-icons {
    display: flex;
    align-items: center;
    font-size: 23px;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin-right: 5px; /* ระยะห่างระหว่างไอคอน */
    text-decoration: none;
    color: inherit;
}

.nav-btn i {
    margin-right: 15px;
    color: white; /* เปลี่ยนสีไอคอน user-circle เป็นสีขาว */
}

.user-name {
    margin: 0;
    color: white; /* เปลี่ยนสีไอคอน user-circle เป็นสีขาว */
}

.user-circle {
    color: white; /* เปลี่ยนสีไอคอน user-circle เป็นสีขาว */
    margin-left: 10px;
}




.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
}
.cart-item-count {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}






.bag-heading {
    text-align: center; /* จัดให้ข้อความอยู่ตรงกลาง */
    font-family: 'Jaro', sans-serif; /* กำหนดฟอนต์ */
    font-size: 80px; /* กำหนดขนาดตัวอักษร */
    color: #fff;
   
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

header {
    background-color: #343a40;
    color: #e9ecef; /* สีข้อความใน header */
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500; /* ลดความหนาของฟอนต์ */
}
.edit-button{
    margin-left: 85%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-row {
    display: flex; /* เพิ่ม flexbox เพื่อให้ align items */
    align-items: center;
    margin-bottom: 10px;
  
}

.profile-label {
  
    font-weight: bold;
    margin-right: 10px; /* เว้นระยะห่างระหว่าง label และ input */
}

.profile-value, select, input {
  
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}